body {
    font-family: 'Poppins', sans-serif;
    margin: 0%;
}

h1 {
    font-size: 50px;
}

.blue {
    font-style: italic;
    font-weight: bold;
    color: rgb(20, 20, 155);
}

section {
    display: flex;
    margin-bottom: 5px;
}

.cap {
    width: 50%;
    padding: 2%;
}

.cap img {
    width: 40%;
    padding-top: 240px;
    padding-left: 200px;
}

.caplink {
    font-weight: bold;
    text-decoration: none;
    color: black;
    background-image: linear-gradient(rgb(61, 61, 130), rgb(48, 178, 221));
    background-color: cadetblue;
    padding: 10px 20px;
    border-radius: 5px;

}

.capbg {
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-image: url(capbg.jpg);
    background-size: cover;
    padding-bottom: 360px;
}

.ironlink {
    color: black;
    background-color: brown;
    font-size: bold;
    text-decoration: none;
    background-image: linear-gradient(rgb(179, 11, 11), rgb(139, 139, 1));
    padding: 10px 20px;
    border-radius: 5px;
}

.ironman {
    background-attachment: fixed;
    background-image: url(ironbg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 360px;
}

.iron {
    width: 50%;
    padding: 2%;

}

.iron img {

    width: 100%;
    padding-right: 200px;

}