body {
    font-family: 'Poppins', sans-serif;
    margin: 0%;
}

h1 {
    font-size: 50px;
}

.blue {
    font-style: italic;
    font-weight: bold;
    color: rgb(20, 20, 155);
}

.flexible-container {
    display: flex;
    margin-bottom: 5px;
}

.cap {
    width: 50%;
    padding: 2%;
}

.cap img {
    width: 40%;
    padding-top: 240px;
    padding-left: 200px;
}

.caplink {
    font-weight: bold;
    text-decoration: none;
    color: black;
    background-image: linear-gradient(rgb(61, 61, 130), rgb(48, 178, 221));
    background-color: cadetblue;
    padding: 10px 20px;
    border-radius: 5px;

}

.capbg {
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-image: url(capbg.jpg);
    background-size: cover;
    padding-bottom: 360px;
}

.ironlink {
    color: black;
    background-color: brown;
    font-size: bold;
    text-decoration: none;
    background-image: linear-gradient(rgb(179, 11, 11), rgb(139, 139, 1));
    padding: 10px 20px;
    border-radius: 5px;
}

.ironman {
    background-attachment: fixed;
    background-image: url(ironbg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 360px;
    margin-bottom: 2%;
}

.iron {
    width: 50%;
    padding: 2%;

}

.iron img {

    width: 100%;
    padding-right: 200px;

}

.new img {
    width: 90%;
    padding-left: 35px;
    padding-top: 40px;
}

.centre {
    text-align: center;
    color: blue;
    font-family: Arial, Helvetica, sans-serif;
}

.black {
    padding-left: 20%;

    text-decoration: none;
    color: black;
    background-color: transparent;
    font-size: xx-large;
    font-weight: bold;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding-left: 30%;
}

.new {
    width: 100%;
    margin-left: 5%;
    margin-right: 5%;
    box-shadow: 10px 10px 40px black;
    border-radius: 10px;
    border-left: 10px solid;
    border-color: aqua;
}

.avenger {
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-image: url(avengersbg.jpg);
    background-position: 50%;
    padding-bottom: 360px;
    border-top: 10px solid whitesmoke;
}

.avg {
    text-decoration: none;
    color: blue;
}

.learn {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: large;
    padding-left: 45%;
}

.aninda {
    text-align: center;
    font-size: large;
    font-weight: 600;
    text-decoration: underline;

}